.tooltip {
  rect {
    font-size: 40px;
    stroke: #000000; /* 검은색 테두리 */
    stroke-width: 3; /* 테두리 두께를 더 두껍게 */
    rx: 8; /* 모서리를 둥글게 */
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3)); /* 그림자 효과, 조금 더 진하게 조정 */
  }

  text {
    fill: #000000; /* 검은색 텍스트 */
    font-size: 20px; /* 글꼴 크기 */
    pointer-events: none; /* 텍스트가 마우스 이벤트 방해 안함 */
  }

  button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    &:first-child {
      background-color: #90ee90; // 출발 버튼 초록색
      color: black;
    }
    &:nth-child(2) {
      background-color: #ff6347; // 도착 버튼 빨간색
      color: black;
    }
    &:last-child {
      background-color: #4682b4; // 실시간 도착정보 버튼 파란색
      color: white;
    }
  }
}
